<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container-fluid" style="height: 100%;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <img alt="" src="https://image.shutterstock.com/z/stock-vector-button-quiz-the-round-shape-d-vector-illustration-287411393.jpg">
                <br>
                <br>
                <h1 class="mt">Welcome to the Online Quiz Portal</h1><br>
                <marquee behavior="scroll" bgcolor="lightgrey" loop="-1" width="100%">
                    <i><b>
                        With these quiz questions you can test your overall knowledge as a modern man. Good luck!
                    </b></i>
                </marquee>
                <h3 class="padded-text"><b>Press the "Start Quiz" button to take a part in our online knowledge research.
                        You will have exactly 10 minutes for all the quistions to be answered. Please take your time 
                        and give your best. In the end of the quiz you will see your results! Good Luck!</b>
                </h3>
                <br>
                <br>
                <a routerLink='/questions'>
                    <button class="btn btn-success">Start Quiz</button>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <p>Developed by: George Futekov<br>
        <a href="mailto:george@yahoo.com">george@yahoo.com</a></p>
      </footer>
</body>
